In [61]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\shiva\documents\new folder\lib\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\shiva\documents\new folder\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\shiva\documents\new folder\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\shiva\documents\new folder\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\shiva\documents\new folder\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\shiva\documents\new folder\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\shiva\documents\new folder\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\shiva\documents\new folder\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\shiva\documents\new folder\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\shiva\documents\new folder\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\shiva\documents\new folder\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\shiva\documents\new folder\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\shiva\documents\new folder\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\shiva\documents\new folder\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shiva\documents\new folder\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\shiva\documents\new folder\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\shiva\documents\new folder\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [18]:
driver=webdriver.Chrome(r"https://chromedriver.chromium.org/downloads\chromedriver.exe")

In [19]:
driver.get("https://www.naukri.com/")

In [20]:
#1a
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [21]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [22]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [23]:
job_title=[]
job_loc=[]
company_name=[]
experience_required=[]

In [24]:
#jobtitle
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

#jobloc
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_loc.append(location)
    
#Company_name
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#experience_required
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [25]:
print(len(job_title),len(job_loc),len(company_name),len(experience_required))

10 10 10 10

In [26]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_loc,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Analyst/Senior Analyst - R/SQL/Python,"Temp. WFH - Bangalore/Bengaluru, Kolkata, Mumb...",The Nikharv Consultancy,3-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,Target,2-4 Yrs
2,data analyst / data analytics - US MNC (analyt...,"Temp. WFH - Bangalore/Bengaluru, Gurgaon/Gurugram",Aspyra Hr Services,3-8 Yrs
3,Data Analyst (Jr/Sr),Bangalore/Bengaluru,Pole To Win (PTW),1-4 Yrs
4,Business Data Analyst (Sr Exe / Asst Manager),Bangalore/Bengaluru,Talentleads,3-5 Yrs
5,Junior Data Analyst/ Scientist- Fresher Position,"Hybrid - Bangalore/Bengaluru, New Delhi, Mumba...",Sejal Consulting Hub,0-5 Yrs
6,Staff Data Analyst,Bangalore/Bengaluru,Walmart,10-14 Yrs
7,Data Analysts - Compliance Surveillance,Hybrid - Bangalore/Bengaluru,Standard Chartered Bank,4-9 Yrs
8,Sr Data Analyst,Hybrid - Bangalore/Bengaluru,Amolitalents,6-9 Yrs
9,Job Opportunity with Leading MNC - Senior Data...,Bangalore/Bengaluru,Enrich And Enlight Business Consulting,5-7 Yrs

In [29]:
#2a
driver=webdriver.Chrome(r"https://chromedriver.chromium.org/downloads\chromedriver.exe")
driver.get("https://www.naukri.com/")

In [30]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [31]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [32]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [33]:
job_title=[]
job_loc=[]
company_name=[]

In [34]:
#jobtitle
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

#jobloc
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_loc.append(location)
    
#Company_name
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [35]:
print(len(job_title),len(job_loc),len(company_name))

10 10 10

In [36]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_loc,'Company_name':company_name})
df

,Title,Location,Company_name
0,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",Capgemini
1,Data Scientist,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",Tech Mahindra
2,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
4,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Birlasoft
5,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Hyderabad...",Birlasoft
6,Data Scientist,Bangalore/Bengaluru,ANZ
7,Staff Data Analyst,Bangalore/Bengaluru,Walmart
8,Data Scientist,Bangalore/Bengaluru,ANZ
9,Data Scientist Knowledge graph,"Hybrid - Bangalore/Bengaluru, Pune",Capco

In [37]:
#3a

In [112]:
driver=webdriver.Chrome(r"https://chromedriver.chromium.org/downloads\chromedriver.exe")
driver.get("https://www.naukri.com/")
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

loc_filters=[]
sal_filters=[]

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":".suggestor-input "}
  (Session info: chrome=109.0.5414.75)
Stacktrace:
Backtrace:
	(No symbol) [0x00AE6643]
	(No symbol) [0x00A7BE21]
	(No symbol) [0x0097DA9D]
	(No symbol) [0x009B1342]
	(No symbol) [0x009B147B]
	(No symbol) [0x009E8DC2]
	(No symbol) [0x009CFDC4]
	(No symbol) [0x009E6B09]
	(No symbol) [0x009CFB76]
	(No symbol) [0x009A49C1]
	(No symbol) [0x009A5E5D]
	GetHandleVerifier [0x00D5A142+2497106]
	GetHandleVerifier [0x00D885D3+2686691]
	GetHandleVerifier [0x00D8BB9C+2700460]
	GetHandleVerifier [0x00B93B10+635936]
	(No symbol) [0x00A84A1F]
	(No symbol) [0x00A8A418]
	(No symbol) [0x00A8A505]
	(No symbol) [0x00A9508B]
	BaseThreadInitThunk [0x763D6BD9+25]
	RtlGetFullPathName_UEx [0x775C8FD2+1218]
	RtlGetFullPathName_UEx [0x775C8F9D+1165]

In [ ]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

loc_filter_tags=driver.find_elements(By.XPATH,'//span[@class=class="ellipsis fleft filterLabel"]')
for i in loc_filter_tags[0:10]:
    location=i.text
    loc_filters.append(location)
    
#salfilter
sal_filter_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft filterLabel"]')
for i in sal_filter_tags[0:10]:
    salary=i.text
    sal_filters.append(salary)

In [53]:
print(len(job_title),len(loc_filters),len(sal_filters))

30 0 30

In [78]:
#4a
driver=webdriver.Chrome(r"https://chromedriver.chromium.org/downloads\chromedriver.exe")
driver.get("https://www.flipkart.com/")

In [79]:
Brand=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
Brand.send_keys('Sunglasses')

In [81]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [103]:
brands=[]
prices=[]

In [109]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:100]:
    brand=i.text
    brands.append(brand)

#price
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    pricing=i.text
    prices.append(pricing)

In [110]:
print(len(brands),len(prices))

120 120

In [111]:
import pandas as pd
df=pd.DataFrame({'Brand':brands,'Price':prices})
df

         Brand   Price
0         IRUS    ₹637
1     Soul Hub  ₹1,129
2     Fastrack    ₹599
3    Elligator    ₹149
4     Fastrack    ₹499
..         ...     ...
115     Resist  ₹1,399
116     Sewell    ₹280
117   Fastrack    ₹579
118     PIRASO    ₹397
119     ARICKS    ₹259

[120 rows x 2 columns]

In [113]:
#5a
driver=webdriver.Chrome(r"https://chromedriver.chromium.org/downloads\chromedriver.exe")
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART")

In [115]:
ratings=[]
review_summary=[]
full_review=[]

In [134]:
#ratings
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:10]:
    rating=i.text
    ratings.append(rating)
    
import pandas as pd
df1=pd.DataFrame({'Ratings':ratings})
df1
print(df1)

   Ratings
0      4.6
1        5
2        5
3        5
4        4
5        5
6        5
7        5
8        5
9        5
10       4
11       5
12       5
13       5
14       4
15       5
16       5
17       5
18       5
19       5
20       4
21       5
22       5
23       5
24       4
25       5
26       5
27       5
28       5
29       5
30       4
31       5
32       5
33       5
34       4
35       5
36       5
37       5
38       5
39       5
40       4
41       5
42       5
43       5
44       4
45       5
46       5
47       5
48       5
49       5
50       4

In [133]:
#Review_summary
review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tags[0:10]:
    review=i.text
    review_summary.append(review)

import pandas as pd
df2=pd.DataFrame({'Review_Summary':review_summary})
df2
print(df2)

         Review_Summary
0      Perfect product!
1   Best in the market!
2       Value-for-money
3    Highly recommended
4     Worth every penny
5      Perfect product!
6    Highly recommended
7         Great product
8           Pretty good
9      Perfect product!
10  Best in the market!
11      Value-for-money
12   Highly recommended
13    Worth every penny
14     Perfect product!
15   Highly recommended
16        Great product
17          Pretty good
18     Perfect product!
19  Best in the market!
20      Value-for-money
21   Highly recommended
22    Worth every penny
23     Perfect product!
24   Highly recommended
25        Great product
26          Pretty good
27     Perfect product!
28  Best in the market!
29      Value-for-money
30   Highly recommended
31    Worth every penny
32     Perfect product!
33   Highly recommended
34        Great product
35          Pretty good
36     Perfect product!
37  Best in the market!
38      Value-for-money
39   Highly recommended
40    Worth every penny
41     Perfect product!
42   Highly recommended
43        Great product
44          Pretty good
45     Perfect product!
46  Best in the market!
47      Value-for-money
48   Highly recommended
49    Worth every penny
50     Perfect product!
51   Highly recommended
52        Great product
53          Pretty good

In [139]:
#full_review
reviews_tags=driver.find_elements(By.XPATH,'//div[@class="_27M-vq"]')
for i in reviews_tags[0:10]:
    reviews=i.text
    full_review.append(reviews)

import pandas as pd
df3=pd.DataFrame({'Full_Review':full_review})
df3
print("\n",df3,"\n")

                                           Full_Review
0   5\nReally satisfied with the Product I receive...
1   5\nPerfect product!\nAmazing phone with great ...
2   5\nBest in the market!\nGreat iPhone very snap...
3   4\nValue-for-money\nI'm Really happy with the ...
4   5\nHighly recommended\nIt's my first time to u...
..                                                ...
65  5\nWorth every penny\nPreviously I was using o...
66  5\nPerfect product!\nValue for money\n5 star r...
67  5\nHighly recommended\nWhat a camera .....just...
68  5\nGreat product\nAmazing Powerful and Durable...
69  4\nPretty good\nI was using Iphone 6s and also...

[70 rows x 1 columns]

In [142]:
result=pd.concat([df1,df2,df3],axis=1)
print("\n",result,"\n")

    Ratings       Review_Summary  \
0      4.6     Perfect product!
1        5  Best in the market!
2        5      Value-for-money
3        5   Highly recommended
4        4    Worth every penny
..     ...                  ...
65     NaN                  NaN
66     NaN                  NaN
67     NaN                  NaN
68     NaN                  NaN
69     NaN                  NaN

                                          Full_Review
0   5\nReally satisfied with the Product I receive...
1   5\nPerfect product!\nAmazing phone with great ...
2   5\nBest in the market!\nGreat iPhone very snap...
3   4\nValue-for-money\nI'm Really happy with the ...
4   5\nHighly recommended\nIt's my first time to u...
..                                                ...
65  5\nWorth every penny\nPreviously I was using o...
66  5\nPerfect product!\nValue for money\n5 star r...
67  5\nHighly recommended\nWhat a camera .....just...
68  5\nGreat product\nAmazing Powerful and Durable...
69  4\nPretty good\nI was using Iphone 6s and also...

[70 rows x 3 columns]

In [153]:
#6a
driver=webdriver.Chrome(r"https://chromedriver.chromium.org/downloads\chromedriver.exe")
driver.get("https://www.flipkart.com/")

In [155]:
Brand=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
Brand.send_keys('Sneakers')

In [156]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [157]:
brand=[]
product_desc=[]
price=[]

In [199]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]')
for i in brand_tags[0:10]:
    brand=i.text
    brands.append(brand)

#product_desc
product_desc_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in product_desc_tags[0:10]:
    desc=i.text
    product_desc.append(desc)
    
#price
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:10]:
    pricing=i.text
    prices.append(pricing)

In [198]:
print(len(brand),len(product_desc),len(price))

80 282 0

In [233]:
#7a
driver=webdriver.Chrome(r"https://chromedriver.chromium.org/downloads\chromedriver.exe")
driver.get("https://www.amazon.in/")

In [234]:
Product=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
Product.send_keys('Laptop')

In [235]:
search=driver.find_element(By.CLASS_NAME,"nav-right")
search.click()

In [236]:
title=[]
rating=[]
price=[]

In [248]:
title_tags=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tags[0:10]:
    pro_title=i.text
    title.append(pro_title)

In [240]:
rating_tags=driver.find_elements(By.XPATH,'//i[@class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"]')
for i in rating_tags[0:10]:
    pro_rating=i.text
    rating.append(pro_rating)

In [247]:
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    pro_price=i.text
    price.append(pro_price)

In [249]:
print(len(title),len(rating),len(price))

54 10 40

In [253]:
#8a
driver=webdriver.Chrome(r"https://chromedriver.chromium.org/downloads\chromedriver.exe")
driver.get("https://www.azquotes.com/")

In [251]:
quote=[]
author=[]
type_quote=[]

In [257]:
#quote
quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tags[0:100]:
    title=i.text
    quote.append(title)

#author
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags[0:100]:
    name=i.text
    author.append(name)
    
#quotetype
type_quote_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in type_quote_tags[0:100]:
    genre=i.text
    type_quote.append(genre)

In [258]:
print(len(quote),len(author),len(type_quote))

110 110 110

In [259]:
import pandas as pd
df=pd.DataFrame({'Quote':quote,'Author':author,'Quotation Type':type_quote})
df

,Quote,Author,Quotation Type
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
105,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
106,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
107,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
108,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
109,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"